<h1>Criar grafo</h1>
<form action="" method="POST">
  <label
    >vertices <input class="input-field" type="text" name="vertices"
  /></label>

  <div>
    <p>arestas<input type="text" name="arestas" /></p>
  </div>
  <input type="checkbox" value="1" name="direcionado" />
  <input type="hidden" value="0" name="direcionado" />
  <label for="direcionado"> Direcionado? </label>
  <input type="checkbox" value="1" name="valorado" />
  <input type="hidden" value="0" name="valorado" />
  <label for="direcionado"> Valorado? </label>
  <div><input type="submit" value="Submit" /></div>
</form>
