<div class="container">
		<form action="" method="POST">
      <p>vertices <input type="text" name="vertices" /></p>
      <p>arestas<input type="text" name="arestas" /></p>
      <input type="checkbox" value="1" name="direcionado" />
      <input type="hidden" value="0" name="direcionado" />
      <label for="direcionado"> Direcionado? </label>
      <input type="checkbox" value="1" name="valorado" />
      <input type="hidden" value="0" name="valorado" />
      <label for="direcionado"> Valorado? </label>
      <p><input class="button2" type="submit" value="Submit" /></p>
    </form>
</div>