<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Flask app</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Grafo</title>
  </head>
  <body class="main">
    <div>
      <h1>Grafo</h1>
      <h3>Vertices</h3>
      <p>{{graph.vertices}}</p>
      <hr />
      <h3>Arestas</h3>
      <p>{{graph.arestas}}</p>
      <hr />
      <h3>Direcionado</h3>
      {% if graph.direcionado == 0 %}
      <p>Não</p>
      {% else %}
      <p>Sim</p>
      {% endif %}
      <hr />
      <h3>Valorado</h3>
      {% if graph.valorado == 0 %}
      <p>Não</p>
      {% else %}
      <p>Sim</p>
      {% endif %}
      <hr /><h3>Ordem e tamanho</h3>
      <p>{{ordem}}</p>
      <hr />
      <h3>Informações sobre vértice(s):</h3>
      <form method="POST">
        <input name="v1"> ->
        <input name="v2">
        <input type="submit">
      </form>
      <hr />
      <button class="button" onclick="location.href='/graph'" type="button">Visualizar grafo</a>
      <button class="button2" onclick="location.href='/'" type="button">Criar outro grafo</a>
    </div>
    
  </body>
</html>
