<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Buscar vértices</title>
  </head>
  <body class="main">
    <h1>Vértice {{vert}}</h1>
    <h3>{{adjacente}}</h3>
    <h1>Vértices {{vert,v2}}</h1>
    <h3>{{par_vertices}}</h3>
  </body>
</html>
